.metadata
.settings
.classpath
.xlsx
.txt
.bat
.project
push.bat
*.cbp
*.layout
*.depend
*.exe
.vs/
bin/
obj/
.cbp
.exe
.o
.user
.vcxproj
.filters
.sln
.vs
Debug
.vcxproj.filters
.vcxproj.user
.vcxproj